* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}


.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.heading {
    display: flex;
}

.heading h2 {
    margin: 16px 6px;
}

.navbar img {
    padding: 16px 8px;
    height: 30px;
    width: px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    padding: 24px;
    list-style: none;
    color: white;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navtitle {
    font-family: cursive;
    font-weight: bold;
    color: white;
}


main {
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

/* Add animations and transitions */
.about,
.why-choose,
.key-features,
.join-us {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.about.fade-in,
.why-choose.fade-in,
.key-features.fade-in,
.join-us.fade-in {
    opacity: 1;
    transform: translateY(0);
}

footer {
    font-size: 12px;
    background-color: black;
    color: white;
    display: flex;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}